body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #1b1b1b;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    position: relative;
    z-index: 10; 
}


.logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: #2a79ff;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    color: #333;
}

nav .btn {
    padding: 8px 16px;
    background: #2a79ff;
    color: white;
    border-radius: 8px;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 80px;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
}



.hero-text {
    max-width: 600px;
    margin-top: -200px;
    margin-left :-40px;
}

.hero-text h1 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.25;
    color: #1a1a1a;
}

.hero-text p {
    margin: 18px 0 28px;
    font-size: 1.1rem;
    color: #555;
}

.get-started {
    padding: 14px 28px;
    background: #2a79ff;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.hero-img {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img::before {
    content: "";
    position: absolute;
    width: 750px;
    height: 750px;
    background: #f7f8fa;
    border-radius: 50%;
    top: -500px;
    right: -150px;
    z-index: 0;
}

.hero-img img {
    position: absolute;
    top: -500px;        /* same as circle */
    right: -150px;      /* same as circle */
    width: 750px;       /* match the circle */
    height: 750px;      /* match the circle */
    object-fit: cover;  /* fill the circle perfectly */
    z-index: 1;
}


/* FEATURES */
.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 40px;
}

.feature {
    text-align: center;
    width: 30%;
}

.feature img {
    width: 90px;
    margin-bottom: 15px;
}

.feature h3 {
    font-weight: 600;
    color: #2a79ff;
}

.feature p {
    color: #555;
    font-size: 0.95rem;
}
